*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


a{
    text-decoration: none;
    color:inherit;
}

.back-img{
    height:675px;
    background-image: url(./img/메인.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:45px;
    padding: 0 45px;
    background:black;
    color:white;
    max-width:1500px;
    margin:auto;
}

.top-nav ul{
    list-style: none;
    display:flex;
}

.top-nav li{
    border-left: 1px solid white;
    border-right: 1px solid white;
    height:45px;
    display: flex;
    align-items: center;
    padding:0 5px;
}

.bottom-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 45px;
    height:78px;
    border-bottom: 1px solid white;
    max-width:1500px;
    margin:auto;
}

.bottom-nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.bottom-nav li{
    border-right: 1px solid lightgrey;
}

.bottom-nav ul li a{
    color:black;
    padding:28px 20px;
}

.bottom-nav ul li a:hover{
    background:#6ab43e;
}


.whole-nav{
    width:100%;
    background:white;
    color:black;
    position: fixed;
}

.whole-nav a{
    color:black;
}

.facebook{
    width:50px;
    overflow: hidden;
    white-space: nowrap;
    font-size:small;
    color:white;
}

.blog{
    width:50px;
    overflow: hidden;
    white-space: nowrap;
    font-size:small;
}

.facebook a{
    color:white;
}


.blog a{
    color:white;
}

.facebook:hover{
    background:blue;
    width:120px;
}

.blog:hover{
    background:#6ab43e;
    width:120px;
}

footer{
    color:white;
    background:black;
    text-align: center;
    padding: 50px 0;
    line-height: 1.5;
}

.dropdown-content{
    position: absolute;
    background: white;
    margin-top:28px;
    color:black;
    min-width:160px;
    border-top: 2px solid #6ab43e;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
    transition: all 0.5s;
    max-height:0;
    visibility: hidden;
    opacity: 0;
}

.dropdown-content-show {
    max-height:400px;
    visibility: visible;
    opacity: 1;
}

.dropdown-content a{
    color: black !important;
    padding: 12px 140px 12px 20px !important;
    text-decoration: none;
    display:block;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  


.main-content{
    max-width:1200px;
    margin:auto;
}

.main-content h1{
    font-size:40pt;
    color:gray;
    padding:30px 0;
}

.back-space{
    height:135px;
    background: #eee;
}

.main-content .content{
    padding:60px 0;
    min-height:300px;
}